<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: </b>
<ul>
    <li>use of mark down cells</li>
     <li>list of popular languages use by data scientists</li>
     <li>list of commonly used libraries by data scientists</li>
     <li>list of open source data science tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol type="number">
<li>R</li>
<li>Python</li>
<li>Scala</li>
    
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Scikit-learn</li>
</ol>

<table align="left">
    <tr>
        <th>
            Data Science Tools
        </th>
    </tr>
    <tr>
        <td>
            jupyter notebooks
        </td>
    </tr>
    <tr>
         <td>
             jupyter labs
        </td>
    </tr>
    <tr>
         <td>
             apache zeppelin
        </td>
    </tr>
    <tr>
         <td>
        </td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes is equal to hours",200/60)

200 minutes is equal to hours 3.3333333333333335

<h2>Author</h2>
Devyani